* {
  padding: 0;
  margin: 0;
  color: #fff;
  box-sizing: border-box;
  cursor: url(../img/my.cur), url(../img/my.png), auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: fixed url(../img/index-bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
}
a:link,
a:visited {
  color: #222;
  text-decoration: none;
} /*鼠标移上时的样式*/
a:hover {
  color: #2fafbc;
}
#one {
  position: fixed;
  top: -100px;
  left: 10px;
  height: 600px;
}
#two {
  position: relative;
  left: 25%;
}
.messages {
  margin-top: 10%;
  width: 45%;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.266);
  border-radius: 40px;
  box-shadow: 0 10px 50px #00000019;
}

.form {
  display: flex;
  justify-content: right;
  position: relative;
  flex-direction: column;
  width: 100%;
  padding-bottom: 90px;
}
input,
textarea {
  border: none;
  color: #000;
  margin-bottom: 40px;
  font-size: 1.5em;
  font-weight: 500;
  border-radius: 10px;
  padding: 30px;
  background-image: linear-gradient(90deg, #aca4b4 0%, #a89244 100%);
}

#username {
  height: 90px;
}

#message {
  height: 200px;
}

.messages h1 {
  width: 100%;
  text-align: left;
  margin-bottom: 70px;
  font-size: 2rem;
  color: #000;
}

#submitBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #aca4b4 0%, #a89244 100%);
  border: none;
  font-size: 1.5rem;
  width: 250px;
  height: 80px;
  border-radius: 50px;
}
#messageBoard {
  width: 100%;
  text-align: left;
}

@keyframes messageFadeIn {
  to {
    opacity: 1;
  }
}

.message {
  width: 100%;
  height: 70%;
  margin: 10px;
  padding: 10px;
  background-image: linear-gradient(90deg, #aca4b4 0%, #a89244 100%);
  background-color: #fff;
  margin: 70px 0;
  border-radius: 10px;
  box-shadow: 0 10px 20px #00000026;
  text-shadow: 0px 0px 20px #ffffff;
}
.message-info {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
}

.info {
  transform: translateY(-30px);
}

strong {
  position: absolute;
  width: 800px;
  top: 0;
  left: 0;
}

.message-info span {
  position: absolute;
  top: 50px;
  left: 0;
}
#toggle img {
  width: 50px;
  height: auto;
  position: fixed;
  top: 0px;
  right: 80px;
}
#menu {
  flex-direction: column;
  row-gap: 1.5rem;
  position: fixed;
  left: -100%;
  top: 0px;
  width: 20%;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  height: calc(100vh);
  z-index: 10;
  transition: left 0.5s ease;
}
#menu.active {
  left: 0;
}
#menu li a {
  margin-left: unset;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(26, 144, 171);
  width: 200px;
  height: 60px;
  line-height: 60px;
  display: block;
  text-align: center;
  border-radius: 20px;
  transition: 0.25s ease;
}
#menu li a:hover {
  background-color: rgb(26, 144, 171);
  color: bisque;
}
